<header>
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/assets/logo.jpg" class="img-responsive" alt="苏州猛力坚破碎锤"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.url }}#home">首页</a></li>
            <li><a href="{{ site.url }}#brief">品牌简介</a></li>
            <li><a href="{{ site.url }}#product">产品系列</a></li>
            <li><a href="{{ site.url }}#case">工程案例</a></li>
            <!-- <li><a href="{{ site.url }}#network">销售网络</a></li> -->
            <li><a href="{{ site.url }}/service">售后服务</a></li>
            <li><a href="{{ site.url }}#contact">联系我们</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>